<section class="card">

    <a href="/comments/{{id}}">
        <div class="card-body">
            <h5>User: {{user_id}}</h5>
            <h5>Comment: {{comment_content}}</h5>
            <h5>Date: {{comments.date}}</h5>
        </div>
    </a>
</section>