<div class="card stream-card">
    {{#each this}}
    <h3 class="card-title">
        <a href="/projects/{{id}}">{{title}} </a>
    </h3>
    <img src="images/spacer.gif" class="card-img-top " width="305" height="312" id="streamPix" alt="Streams">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
    {{/each}}
</div>