<div class="email-card">
  <form action="" class="email-form">
    <!-- From -->
    <div class="form-group">
      <label for="email-from">From:</label><br>
      <input class="form-input" type="text" id="email-from">
    </div><br>
    <!-- To -->
    <div class="form-group">
      <label for="email-to">To:</label><br>
      <input class="form-input" type="text" id="email-to">
    </div><br>
    <!-- Subject -->
    <div class="form-group">
      <label for="email-subject">Subject:</label><br>
      <input class="form-input" type="text" id="email-subject">
    </div><br>
    <!-- Content -->
    <div class="form-group">
      <label for="email-subject">Content:</label><br>
      <input class="form-input" type="text" id="email-content">
    </div><br>
    <!-- Submit Button -->
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Send</button>
    </div>
  </form>
</div>

<script src="./js/script.js"></script>